@{
    Layout = null;
}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark mblack">
    <a class="navbar-brand mr-auto mr-lg-0" href="#">TeknoYouth</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index">Anasayfa</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kategoriler</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <ul>
                        @foreach (var item in ViewBag.menuKtg)
                        {
                            <li> <a class="dropdown-item" href="/Home/KtgBlog/@item.KategoriID">@item.KategoriAD</a></li>
                        }
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Hakkimizda">Hakkımızda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/İletisim">İletişim</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>